{% extends 'base.html.twig' %}

{% block body %}
    <div>
        {% for row in users|batch(1) %}
            <div class="container">
                <div class="row">
                    {% for user in row %}
                        <div class="col-sm card-deck mb-3 text-center">
                            <div class="card mb-4 shadow-sm">
                                <div class="card-header">
                                    <h4 class="my-0 font-weight-normal">{{ user.email }} {{ user.password }}</h4>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
